<!-- Custom Theme files -->
  <link href="../css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
  <link href="../css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
  <!-- easy-responsive-tabs -->

  <link href="../css/style.css" type="text/css" rel="stylesheet" media="all">
  <link href="../css/font-awesome.css" rel="stylesheet">
  <!-- font-awesome icons -->
  <!-- //Custom Theme files -->
  <!-- js -->
  <script src="../js/jquery-2.2.3.min.js"></script>
  <script src="../js/login.js"></script>
  <!-- //js -->
  <!-- web-fonts -->
  <link href="//fonts.googleapis.com/css?family=Limelight" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Junge" rel="stylesheet">
  <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic'
      rel='stylesheet' type='text/css'>
  <!-- //web-fonts -->
  <div class="login-box">
    <div class="lb-header">
      <a href="#" class="active" id="login-box-link">Login</a>
      <a href="#" id="signup-box-link">Sign Up</a>
    </div>
    <div class="social-login">
      <a href="#">
        <i class="fa fa-facebook fa-lg"></i>
        Login in with facebook
      </a>
      <a href="#">
        <i class="fa fa-google-plus fa-lg"></i>
        log in with Google
      </a>
    </div>
    <form class="email-login">
      <div class="u-form-group">
        <input type="email" placeholder="Email"/>
      </div>
      <div class="u-form-group">
        <input type="password" placeholder="Password"/>
      </div>
      <div class="u-form-group">
        <button>Log in</button>
      </div>
      <div class="u-form-group">
        <a href="#" class="forgot-password">Forgot password?</a>
      </div>
    </form>
    <form class="email-signup">
      <div class="u-form-group">
        <input type="email" placeholder="Email"/>
      </div>
      <div class="u-form-group">
        <input type="password" placeholder="Password"/>
      </div>
      <div class="u-form-group">
        <input type="password" placeholder="Confirm Password"/>
      </div>
      <div class="u-form-group">
        <button>Sign Up</button>
      </div>
    </form>
  </div>